html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #F09FB6, #E6D1DC);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vh);
    gap: 5px;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cameraandtext{
    display: grid;
    
}
.camera{
    margin-top: -1px;
}
